<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        <title>Meu Site</title>
        
        <style>
            .fade-out.htmx-swapping {
                opacity: 0;
                transition: opacity 1s ease-out;
            }
        </style>
    </head>

    <body class="fade-out">
        <h1>Meu Site</h1>
        <p>Bem vindo ao meu site!</p>
        
        <button hx-get="/lista"
                hx-target="main"
                hx-push-url="true">
            Lista de alunos
        </button>
        
        <button hx-get="/editarAlunos"
                hx-target="main"
                hx-push-url="true">
            Editar lista de alunos
        </button>


        <button hx-delete="/apagar"
                    hx-target="body"
                    hx-confirm="Deseja deletar meu site?"
                    hx-swap="outerHTML swap:1s"
                    id="apagar">
                Deletar site
        </button>
        <hr>
        
        <main></main>
        

        <script>
            document.getElementById("apagar").addEventListener("htmx:confirm", (e) => {
                e.preventDefault()
                Swal.fire({
                    title: "Prosseguir?",
                    text: `${e.detail.question}`,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Sim, deletar o site",
                    cancelButtonText: "Cancelar"
                }).then(result => {
                    if (result.isConfirmed) {
                        e.detail.issueRequest(true);
                    }
                })
            })
        </script>
    </body>
</html>